@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.introWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: c.$color-accent-dark;
  max-width: 34rem;

  .introText {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .copyrightDesktop {
    color: c.$color-grey-regular;
    display: none;

    @include desktop {
      padding-top: 1rem;
      display: block;
    }
  }
}
