@import '@/styles/breakpointMixin.scss';

.introWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #1f343e;
  max-width: 34rem;

  .introText {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .copyrightDesktop {
    color: #6d7a80;
    display: none;

    @include desktop {
      padding-top: 1rem;
      display: block;
    }
  }
}
