@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';
.nav {
  display: none;

  a {
    color: c.$color-grey-dark;

    &:hover {
      color: c.$color-blue-main;
      transition: color 0.4s ease-in-out;
    }

    @include desktop {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  @include desktop {
    display: flex;
    gap: 2rem;
  }

  .coloredLink {
    color: c.$color-blue-main;
  }
}
