@use '@/styles/colors' as color;
@import '@/styles/breakpointMixin.scss';
.nav {
  display: none;

  a {
    color: color.$color-grey-dark;

    &:hover {
      color: color.$color-blue-main;
      transition: color 0.4s ease-in-out;
    }
  }

  @include desktop {
    display: flex;
    gap: 1rem;
  }

  .coloredLink {
    color: color.$color-blue-main;
  }
}
