@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.mainWrapper {
  background-color: c.$color-bg-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  @include desktop {
    flex-direction: row;
    gap: 3rem;
    padding: 4rem;
  }
}
