@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';
.emailForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .inputWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: c.$color-white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid c.$color-accent-dark;

    input {
      border: none;
      outline: none;
      font-size: 1rem;
      color: c.$color-grey-regular;

      @include desktop {
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
    }
  }

  .btn {
    background-color: c.$color-blue-main;
    border: 1px solid c.$color-accent-dark;
    padding: 1rem;
    width: 100%;
    font-size: 1.25rem;
    color: c.$color-white;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: c.$color-blue-hover;
    }
  }
}
