@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.4rem;
  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-weight: 700;

    @include desktop {
      font-size: 1.125rem;
    }
  }
  .emailWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: c.$color-accent-dark;
  }

  .wrapper {
    display: flex;
    gap: 0.5rem;

    img {
      border: 1px solid c.$color-accent-dark;
      border-radius: 0.5rem;
      background-color: c.$color-blue-main;
      cursor: pointer;
      padding: 0.5rem;

      &:hover {
        background-color: c.$color-blue-hover;
      }
    }
  }
}
