@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.container {
  border: 1px solid c.$color-accent-dark;
  border-radius: 1rem;
  padding: 2rem 1rem;
  background-color: c.$color-white-bg;
  max-width: 21.44rem;
  min-height: 33.69rem;
  position: relative;

  @include desktop {
    max-width: 34rem;
    min-height: 50rem;
    padding: 4rem;
  }

  .title {
    color: c.$color-accent-dark;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    text-transform: uppercase;

    @include desktop {
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }

  .text {
    color: c.$color-accent-dark;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    padding: 1rem 0 3rem 0;

    @include desktop {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .note {
    position: absolute;
    bottom: 1.94rem;
    color: c.$color-grey-regular;
    font-size: 1rem;

    @include desktop {
      bottom: 3.94rem;
    }
  }
}
