@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  padding: 3rem 2rem;
  background-color: c.$color-white-bg;

  @include desktop {
    flex-direction: row;
    gap: 6rem;
  }

  .copyrightMobile {
    color: c.$color-grey-regular;
    display: block;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }
}
