@import '@/styles/breakpointMixin.scss';

.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  padding: 3rem 2rem;
  background-color: #f8f4f9;

  @include desktop {
    flex-direction: row;
    gap: 4rem;
  }

  .copyrightMobile {
    color: #6d7a80;
    display: block;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }
}
