@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';
.cardWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid c.$color-accent-dark;
  padding: 0.875rem 1.25rem;
  border-radius: 1rem;
  min-width: 19.5rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      color: c.$color-white-bg;
      font-size: 1rem;
    }

    .storeTitle {
      color: c.$color-white-bg;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
