$color-white: #fff;
$color-blue-main: #4eb3e3;
$color-grey-regular: #6d7a80;
$color-grey-dark: #434a54;
$color-white-bg: #f8f4f9;
$color-accent-dark: #1f343e;
$color-blue-hover: #2072f3;
$color-bg-store: #45565e;
$color-bg-primary: #f8cc5d;
$color-error: #ed6f82;
