@use '@/styles/colors' as c;
@import '@/styles/breakpointMixin.scss';

.linksWrapper {
  .title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;

    @include desktop {
      font-size: 1.125rem;
    }
  }

  li {
    margin-top: 1rem;

    .link {
      font-size: 1rem;
      color: c.$color-accent-dark;
      cursor: pointer;

      &:hover,
      &:active {
        color: c.$color-blue-main;
      }
    }

    @include desktop {
      .highlightedLink {
        color: c.$color-blue-main;
      }

      .title {
        font-size: 1.125rem;
      }
    }
  }
}
